fastapi==0.115.6
uvicorn[standard]==0.30.6
feedparser==6.0.11
python-dotenv==1.0.1
openai==1.55.3
requests
beautifulsoup4
lxml
scikit-learn==1.5.2
numpy==2.0.2

python-jose[cryptography]==3.3.0
email-validator==2.2.0

argon2-cffi==23.1.0
stripe==10.12.0
Pillow==10.4.0
resend
psycopg2-binary==2.9.9
discord.py==2.4.0
python-multipart==0.0.20
sentry-sdk[fastapi]==2.22.0
pytest==8.3.5

urllib3<2; python_version < "3.10"
